# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Modelos
models/

# Resultados
results/

# Figuras
figures/

# Datos
data/

# Sistema
.DS_Store
Thumbs.db

# Entornos virtuales
venv/
.env

# Datos mínimos necesarios para la app
!data/
data/*
!data/app_municipal_deficit.parquet
!data/app_ml_predictions.parquet
!data/app_municipal_clusters.parquet
!data/ev_charging_station_features.parquet
!data/ev_charging_location_proposals.parquet
